
        body {
            background-color: #f4f4f4;
            font-family: arial, sans-serif;
        }

        footer {
            background-color: #2c3e50;
            color: white;
        }
    